<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <title>Production Management</title>
</head>
<body>
<div>
  <nav>
    <div class="nav-wrapper green darken-3">
      <a href="{{url_for('get_productions')}}" class="brand-logo">Production Management</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li class="{{ 'active' if active_page == 'productions' else '' }}"><a href="{{url_for('get_productions')}}">Home</a></li>
        <li class="{{ 'active' if active_page == 'addproduction' else ''}}"><a href="{{url_for('add_production')}}">Add Production</a></li>
        <li class="{{ 'active' if active_page == 'products' else ''}}"><a href="{{url_for('get_products')}}">Products</a></li>
        <li class="{{ 'active' if active_page == 'machines' else ''}}"><a href="{{url_for('get_machines')}}">Machines Status</a></li>
        <li class="{{ 'active' if active_page == 'employees' else ''}}"><a href="{{url_for('get_employees')}}">Employees</a></li>
      </ul>
       <ul class="side-nav" id="mobile-demo">
        <li class="{{ 'active' if active_page == 'productions' else '' }}"  ><a href="{{url_for('get_productions')}}">Home</a></li>
        <li class="{{ 'active' if active_page == 'addproduction' else ''}}"><a href="{{url_for('add_production')}}">Add Production</a></li>
        <li class="{{ 'active' if active_page == 'products' else ''}}"><a href="{{url_for('get_products')}}">Products</a></li>
        <li class="{{ 'active' if active_page == 'machines' else ''}}"><a href="{{url_for('get_machines')}}">Machines Status</a></li>
        <li class="{{ 'active' if active_page == 'employees' else ''}}"><a href="{{url_for('get_employees')}}">Employees</a></li>
      </ul>
    </div>
  </nav>
</div>
<div class="container">
    {% block content %}
    {% endblock %}
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script>
$(document).ready(function() {
    $('select').material_select();
    $('.collapsible').collapsible();
    $(".button-collapse").sideNav();
    $(".dropdown-button").dropdown();
  });
    // another javascripte for the datapicker
        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15, // Creates a dropdown of 15 years to control year,
            today: 'Today',
            clear: 'Clear',
            close: 'Ok',
            closeOnSelect: false // Close upon selecting a date,
        });
  document.getElementById("matfix").addEventListener("click", function(e) {
	e.stopPropagation();
});
  
</script>
</body>
</html>