{% extends "base.html" %}  {% block content %}
<div class="container">
<h2>Edit Machine Status</h2>
<div class="row">
	<form action="{{url_for('update_machine', machine_id=machine._id)}}" method="POST" class="col s12">
		<div class="row">
			<div class="input-field col s12">
				<input id="machine_name" name="machine_name" type="text" class="validate" value="{{machine.machine_name}}" />
				<label for="icon_prefix">Machine Name: </label>
			</div>
		</div>
		<div class="row">
			<div class="switch">
				<label>
        {% if machine.is_in_production %}
          
					<input id="is_in_production" name="is_in_production" type="checkbox" checked />
        {% else %}
        
					<input id="is_in_production" name="is_in_production" type="checkbox" />
        {% endif %}
          
					<span class="lever"></span>
          Is Machine in production
        
				</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<textarea
          name="comments"
          id="comments"
          type="textarea"
          class="materialize-textarea"
        >{{machine.comments}}</textarea>
				<label for="icon_telephone">Comments:</label>
			</div>
		</div>
		<div class="row">
			<button class="btn waves-effect teal darken-2 waves-light" type="submit" >Edit
     </button>
		</div>
	</form>
</div>
</div>

{% endblock %}