{% extends "base.html" %} {% block content %}

<div class="container">
	<h2>Edit Production</h2>
	<div class="row">
		<form action="{{ url_for('update_production', production_id=production._id)}}" method="POST" class="col s12">
			<div id="matfix">
				<div class="row">
					<div class="input-field col s12">
						<input id="date" name="date" type="text" class="datepicker" value="{{production.date }}"/>
						<label for="icon_prefix">Date: </label>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col s12">
					<select multiple id="employee" name="employees">
					<option value="" disabled selected>Choose your Nick Name</option>
      {% for emp in employees %}
         {% for nick_name in production.employees if emp.nick_name  == nick_name %}
					<option value="{{nick_name }}" selected>{{nick_name}}</option>
       {% endfor %}
					<option value="{{emp.nick_name}}">{{emp.nick_name}}</option>                       
      
      {% endfor %}
				</select>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<input id="product_number" name="product_number" type="text" class="validate" value="{{production.product_number }}" />
					<label for="icon_prefix">Product Number: </label>
				</div>
			</div>
			<div class="row">
				<div class="col s12">
					<select id="product" name="product_name">
					<option value="" disabled selected>Choose your Product</option>
      {% for product in products %}
      {% if product.product_name == production.product_name%}
      
					<option value="{{product.product_name}}" selected>{{product.product_name}}</option>
      {% else %}
      
					<option value="{{product.product_name}}">{{product.product_name}}</option>
      {% endif %}
      {% endfor %}
    
				</select>
				</div>
			</div>
			<div class="row">
				<div class="col s12">
					<select id="machine" name="machine_name">
					<option value="" disabled selected>Choose your Machine</option>
      {% for machine in machines %}
      {% if machine.machine_name == production.machine_name %}
      
					<option value="{{machine.machine_name}}" selected>{{machine.machine_name}}</option>
      {% elif machine.is_in_production %}
      <option value="{{machine.machine_name}}">{{machine.machine_name}}</option>
      {% endif %}
      {% endfor %}
    
				</select>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<textarea
          name="comments"
          id="comments"
          type="textarea"
          class="materialize-textarea"
        >{{production.comments}}</textarea>
					<label for="icon_telephone">Comments:</label>
				</div>
			</div>
			<div class="row">
				<button class="btn waves-effect teal darken-2 waves-light" type="submit" >Edit Production
     </button>
			</div>
		</form>
	</div>
</div>
{% endblock %}