{% extends 'base.html'%}{% set active_page = "index" %}{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<body>
	<div class="bg">
		<div class="container">
			<div class="row">
				<div class="col s12 m6">
					<div class="card tranparent-color ">
						<div class="card-content white-text">
							<span class="card-title"><h1>Manage Your Production</h1></span>
							<h4>Simplicity, Productivity, and Save time.</h4>
						</div>
					</div>
					<a href="{{url_for('get_productions')}}"
						class="waves-effect waves-light teal darken-2 btn btn_small blue">
						<span>Get Production</span>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col s12 m6">
				<h2>About The Application</h2>
				<p>The purpose of this application is, simplicity, productivity, and save time by putting everything
					related to production in one place.</p>
				<ol>
					<li>The application can be used by all employees.</li>
					<li>All employees in production can interact with all the data flow which is related to production.
					</li>
					<li>Can also be used by service technicians if they need to report on machine availability for the
						production.</li>
					<li>There are five general pages (home, production, products, machines status, employees) and
						subpages like edit, add, delete, register.</li>
				</ol>
			</div>
		</div>
	</div>
</body>

</html>
{% endblock %}