{% extends 'base.html'%} {% set active_page = "machines" %} {% block content %}

<div class="row">
<h2>All Machines</h2>
    <ul class="collapsible" data-collapsible="accordion">
      {% for machine in machines %}
      <li>
        <div class="collapsible-header margin-10">
            <div class="col s12">
              <i class="material-icons">expand_more</i>
              <a href="{{url_for('delet_machine', machine_id=machine._id)}}" class="waves-effect waves-light red darken-4 btn btn_small">Delet</a>
              <a href="{{url_for('edit_machine', machine_id=machine._id)}}" class="waves-effect waves-light btn btn_small teal darken-2  margin-10"><span>Edit</span></a>
            </div>
            <div class="col s12">
            <h5 ><strong>Machine Name:</strong> {{machine.machine_name}}</h5>
            {% if machine.is_in_production%}
              <h5 ><strong>Machine status: </strong><span class="dot-green"></span></h5>
              {% else%}
              <h5 ><strong>Machine status: </strong><span class="dot-red"></span></h5>
            {% endif %}  
            </div>
        </div>
        <div class="collapsible-body">
            <div class="row">
            <div class="col s12 m4">
            <span><h5>Comments:</h5></span>
            <p id="comments">{{ machine.comments}}</p>
            </div>
            </div>
      </div>
      </li>
      {% endfor %}
    </ul>
    <div class="row">
    <div class="col s12">
       <a href="{{url_for('add_machine')}}" class="waves-effect waves-light teal darken-2 btn btn_small blue"><span>Add New Machine</span></a>
    </div>
</div>
</div>

{% endblock %}
