{% extends 'base.html'%} {% block content %}

<h2>All Productions</h2>
<div class="row">
  <div class="col s12">
    <ul class="collapsible" data-collapsible="accordion">
      {% for pro in productions %}
      <li>
        <div class="collapsible-header margin-10">
          <div class="row">
            <div class="col s12 l1">
              <i class="material-icons">expand_more</i>
            </div>
            <div class="col s12 l2">
              <a href="#" class="waves-effect waves-light btn btn_small"
                >Delet</a
              >
            </div>
            <div class="col s12 l2 margin-10">
              <a href="#" class="waves-effect waves-light btn btn_small blue"
                ><span>Edit</span></a
              >
            </div>
            <div class="col s12 l4">
              <span
                >Production Name:<strong> {{pro.product_name}}</strong></span
              >
            </div>
            <div class="col s12 l3">
              <span
                >Production Number:<strong>
                  {{pro.product_number}}</strong
                ></span
              >
            </div>
          </div>
        </div>
        <div class="collapsible-body">
          <div class="row">
            <div class="input-field col s12 l4">
              <select multiple>
                <option disabled selected></option>
                {% for emp in employees%}
                <option value="1">{{emp.nick_name}}</option>
                {% endfor %}
              </select>
              <label>employee nick name: </label>
            </div>
            <div class="input-field col s12 l4">
              <input
                value="{{pro.machine_name}}"
                id="first_name1"
                type="text"
                class="validate"
              />
              <label class="active" for="first_name2">Machine: </label>
            </div>
            <div id="matfix">
              <div class="input-field col s12 l4">
                <input
                  value="{{pro.date}}"
                  id="first_name2"
                  type="text"
                  class="validate"
                />
                <label class="active" for="first_name2">Date</label>
              </div>
            </div>
          </div>
                <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea">{{ pro.comments}}</textarea>
          <label for="textarea1">Comments</label>
        </div>
      </div>
          <div class="row">
                      <div class="col s12">
              <a href="#" class="waves-effect waves-light btn btn_small blue"
                >Confirm</a
              >
            </div>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock %}
