{% extends 'base.html'%} {% block content %}

<h2>All Productions</h2>
<div class="row">
	<div class="col s12">
		<ul class="collapsible" data-collapsible="accordion">
			<li>
				<div class="collapsible-header text-padding">
					<div class="row">
						<div class="col s12 l1">
							<i class="material-icons">expand_more</i>
						</div>
						<div class="col s12 l2">
							<a href="#" class="waves-effect waves-light btn btn_small">Done</a>
						</div>
						<div class="col s12 l2 margin-10">
							<a href="#" class="waves-effect waves-light btn btn_small blue">Edit</a>
						</div>
						<div class="col s12 l4">
							<a href="#"
								class="waves-effect waves-light btn btn_small blue"><span>Add date-employee</span></a>
						</div>
						<div class="col s12 l3 margin-10 push-l1">
							<strong>production's name</strong>
						</div>
					</div>

				</div>
				<div class="collapsible-body">
					<table class="centered responsive-table">
						<thead>
							<tr>
								<th>Date</th>
								<th>employee</th>
								<th>machine</th>
                                <th>comments</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>2020-06-26</td>
								<td>Ninos</td>
								<td>E</td>
                                <td><p>if there is necessary and important information and description about the production</p></td>
							</tr>
						</tbody>
					</table>
				</div>
			</li>
		</ul>
	</div>
</div>

{% endblock %}